@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    Pizze pizze = new Pizze("margherite", "inggredienti : suggo ", "~/img/fotopizza.png", 19.50);

}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="text-center">
    <!--
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->

    
        <h1>@pizze.Nome</h1>
        <p>@pizze.Descrizione</p>
        <img src=@Url.Content(@pizze.UrlFoto) />
        <p>prezzo @pizze.Prezzo $</p>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
